*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
  background: radial-gradient(
    #D5F3FF 0%,
    #51B4E8 100%
    
  );
display: flex;
justify-content: center;
align-items: center;

}

.App{

  margin: 0 auto;

}

#card{
  background: linear-gradient(
    #E5F2FF 0%,
    #D5F3FF 97.4%
  );
  border-radius: 4.85px;
  offset: 0px, 4.8px;
  width: 70vh;
  height: 40vh;
  clip-path: polygon(0 0, 0 200%, 500% 100%);
  border-top-right-radius: 80rem 15rem ;
  border-top-left-radius: 7rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  color: #026EED ;
  background-color: red;
  position: relative;
    
    
}

#find{
  display: flex;
  margin-bottom: 150px;
  justify-content: center;
}

/* .button{
  width: 178px;
  height: 38px;
  background-color: #38A0D8;
  border-radius: 4.85px;
  offset: 0px, 4.85px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25));
  fill: solid; 
} */

.upCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  padding-top: 100px;
}

#image{
  position: absolute;
  right: 0;
  top: 20%;
  /* display: inline; */
  
 /* height: 250px; */
  
}

.middleCard{
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  height: 40%;
  padding: 0 40px;
}

#degree{
font-size: 95px;
font-weight: normal;
}    


#descrption{
  font-size: 16px;
  font-weight: bold;
  
}

#descrption1{
  font-size: 16px;
  font-weight: bold;
}

#descrption2{
  font-size: 16px;
  font-weight: bold;
}

.downCard{
display: flex;
margin-top: 40px;
justify-content: space-between;
padding: 0 40px;
}

#city{
  font-size: 23px;
  font-weight: bold;
  /* display: flex; */
  
}
#weather{
  font-size: 23px;
  font-weight: bold;

}




.input{
  border-radius: 20px;
  font-size:35px;
  border:#E5F2FF;
  background-color: #51b3e865 ;
  outline: #51b3e865;
  text-align: center;

  
}

.buttonFind{
  border-radius: 20px;
  font-size:25px;
  border-bottom:#38A0D8;
  background-color: #38A0D8;
}